
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div style="background:#ffef98">


        <a href="http://localhost:53859/Home/Index">1. Adım Allow anonim</a><br />
        <a href="http://localhost:53952/Home/Index">2. Adım Baska domaindeki Login Gerektiren</a>   <br />
        <a href="http://localhost:53859/Home/Secured">3. Adım Login Gerektiren Sayfa</a>   <br />
        <a href="http://localhost:53859/Home/Login">4.Adım Giriş  </a> <br />
        <a href="http://localhost:53859/Home/Secured">Tekrar 3. Adım Login Gerektiren Sayfa</a>   <br />
        <a href="http://localhost:53952/Home/Index">5.Adım Baska domaindeki Login Gerektiren</a>   <br />

      
        @using (Html.BeginForm("login", "home", FormMethod.Post))
        {

            <input type="hidden" id="name" value="mg"/>
            <input type="submit" value="Login" />

        }
    </div>
</body>

</html>
